# *
# !*.c
# !*.h
# !*.scm
# !*.scd
# !*.py
# !test/test_images_correct/*
# !Makefile
# !CMakeLists.txt
.*
!.gitignore
*.o
*.so
test/test_images_tmp/*
test/cvpi_image_mean_test_files/*
test/valgrind.txt
Makefile
*.in
config.h
config.h~
*.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h.in~
include/stamp-h1
install-sh
libcvpi.a
libtool
ltmain.sh
missing
src/libcvpi.la
src/libcvpi_la-cvpi_base.lo
src/libcvpi_la-cvpi_egl_config.lo
src/libcvpi_la-cvpi_image_functions.lo
src/libcvpi_la-cvpi_image_headers.lo
src/libcvpi_la-cvpi_vg_ext.lo
stamp-h1
tests/cvpi_sample_motion_detect_output
tests/cvpi_sample_motion_detection
tests/cvpi_sample_yuv2bmp
tests/cvpi_tests
tests/khr_lock_surface_test
tests/motion_detect_data
tests/test_images_tmp
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake